/* General */

/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

/* variables from style guide */
:root {
  /* primary colors */
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);

  /* neutral colors */
  --dark-grayish-red: hsl(0, 6%, 24%);

  /* gradient */
  --first-gradient: 135deg, rgba(255, 255, 255, 1) 0%, rgba(255, 245, 245, 1) 100%;
  --second-gradient: 135deg, rgba(248, 191, 191, 1) 0%, rgba(238, 140, 140, 1) 100%;

  /* font */
  --font-size: 16px;
  --font-family: 'Josefin Sans', sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
}

main {
  min-height: 100vh;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  color: var(--dark-grayish-red);
}

/* Title */

h1 {
  height: 10.5vh;
  position: relative;
  background: -moz-linear-gradient((var(--first-gradient)));
  background: -webkit-linear-gradient(var(--first-gradient));
  background: linear-gradient(var(--first-gradient));
}

h1 img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 31px;
  max-height: 21px;
}

/* Picture */

section::before {
  content: '';
  position: absolute;
  background: no-repeat url(./images/hero-mobile.jpg);
  background-size: cover;
  left: 0;
  top: 10.5vh; /* h1 height */
  height: 31.25vh;
  width: 100vw;
}

/* Section */

section {
  padding-top: 31.25vh; /* picture height */
  background: -moz-linear-gradient((var(--first-gradient)));
  background: -webkit-linear-gradient(var(--first-gradient));
  background: linear-gradient(var(--first-gradient));
  height: 89.5vh;
}

/* Title section */

section h2 {
  margin-top: 8.25vh;
  text-transform: uppercase;
  font-weight: var(--font-weight-light);
  font-size: 2.5rem;
  color: var(--desaturated-red);
  padding-left: 26.67vw;
  letter-spacing: 16px;
}

/* Article */

article {
  padding: 0 8.27vw;
}

/* Title article */

article h3 {
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: 2.5rem;
  letter-spacing: 16px;
  margin-bottom: 3.375vh;
  margin-bottom: calc(3.375vh - 0.5rem);
}

#coming {
  padding-left: calc(17.86vw - 8.27vw);
}

#soon {
  padding-left: calc(28.74vw - 8.27vw);
}

/* Paragraph article */

article > p {
  color: var(--desaturated-red);
  font-size: 14px;
  line-height: 2.5vh;
  margin-bottom: 4.875vh;
  text-align: center;
}

/* Form article */

article form {
  position: relative;
}

/* Components form */

article form input,
article form button {
  -webkit-appearance: none;
  height: 6vh;
  border-radius: 3em;
  box-sizing: border-box;
  position: absolute;
  outline: none;
}

/* Input */

article form input {
  left: 0;
  width: 100%;
  padding: 0 26.33vw 0 6.93vw; /* padding-left = button width + error icon */
  border: 1px solid var(--desaturated-red);
  background-color: transparent;
  font-family: var(--font-family);
  color: var(--dark-grayish-red);
}

article form input::placeholder {
  color: var(--desaturated-red);
  opacity: 0.5;
  font-size: 0.8rem;
}

/* Submit button */

article form button {
  right: 0;
  background: -moz-linear-gradient((var(--second-gradient)));
  background: -webkit-linear-gradient(var(--second-gradient));
  background: linear-gradient(var(--second-gradient));
  -webkit-box-shadow: 0px 16px 18px -12px rgb(238, 140, 140);
  box-shadow: 0px 16px 18px -12px rgb(238, 140, 140);
  border: none;
  width: 17.33vw;
  cursor: pointer;
}

article form button:active {
  background: -moz-linear-gradient(135deg, rgba(248, 191, 191, 0.5) 0%, rgba(238, 140, 140, 0.5) 100%);
  background: -webkit-linear-gradient(135deg, rgba(248, 191, 191, 0.5) 0%, rgba(238, 140, 140, 0.5) 100%);
  background: linear-gradient(135deg, rgba(248, 191, 191, 0.5) 0%, rgba(238, 140, 140, 0.5) 100%);
}

/* Manage error */

article form input:invalid {
  border: 2px solid var(--soft-red);
}

.error-input {
  position: absolute;
  display: none;
}

#error-icon {
  top: 1.5vh;
  right: 19.33vw;
}

#error-text {
  bottom: -8.5vh;
  left: 7vw;
  font-size: 12px;
  color: var(--soft-red);
}

/* Footer page */

footer .attribution {
  font-size: 11px;
  text-align: center;
  padding: 1vh;
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media queries */

@media all and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  /* General */

  main {
    height: 100vh;
    background: top left / 57.57vw 100vh no-repeat url(./images/bg-pattern-desktop.svg), linear-gradient(var(--first-gradient));
  }

  /* Title */

  h1 {
    padding-top: 8.125vh;
    padding-left: 11.32vw;
    height: 4.125vh;
    position: static;
    background: transparent;
  }

  h1 img {
    position: static;
    top: 0;
    transform: none;
    left: 0;
    max-height: 33px;
  }

  /* Picture */

  section::before {
    content: '';
    position: absolute;
    left: 57.57vw;
    right: 0;
    top: 0;
    background: no-repeat url(./images/hero-desktop.jpg);
    background-size: cover;
    height: 100vh;
    width: 42.43vw;
  }

  /* Section */

  section {
    height: auto;
    padding: 0;
    background: transparent;
    width: 57.57vw;
    padding-left: 11.32vw;
  }

  /* Title section */

  section h2 {
    padding-left: 0;
    margin-top: 21.125vh;
    font-size: 4rem;
    letter-spacing: 18px;
  }

  /* Article */

  article {
    padding: 0.4vh 15.21vw 0 0;
  }

  /* Title article */

  article h3 {
    font-size: 3.9rem;
    letter-spacing: 19px;
    line-height: 1.1em;
  }

  #coming,
  #soon {
    padding: 0;
  }

  /* Paragraph article */

  article > p {
    text-align: left;
    font-size: var(--font-size);
    line-height: 3.5vh;
  }

  /* Form article */
  /* article form - no change */

  /* Components form */

  article form input,
  article form button {
    height: 7.25vh;
  }

  /* Input */

  article form input {
    padding: 0 7.08vw 0 2.25vw;
    font-weight: var(--font-weight-bold);
    font-size: 15px;
  }

  /* article form input::placeholder- no change  */

  /* Submit button */

  article form button {
    width: 7.08vw;
  }

  /* Manage error */

  /* article form input:invalid - no change  */

  /* .error-input - no change */

  #error-icon {
    right: 8vw;
    top: 2.25vh;
  }

  #error-text {
    bottom: -10vh;
    left: 2.25vw;
    font-size: 13px;
  }
}
